{% extends "base.html" %}
{% block title %}考试系统{% endblock %}
{% block nav %} 
<nav>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="/">主页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">考试系统</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" >教师登录</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" >学生登录</a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block main %}

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <hr>
    <h2>当前页面考试系统</h2>
    <hr>
    <h3>考试说明</h3>
    <textarea name="" id="" cols="100" rows="20">
        全国各地方每年在高考前都会发布最新的《高考考试说明》，《高考考试说明》是高考命题的主要参考依据，它从试卷结构、考试内容和要求等多个方面对高考试题做出了规范，对于各位参加高考的考生而言，多花点时间了解考试说明是一件十分必要的事情。  

        学习 Web 开发 网站：
        https://developer.mozilla.org/zh-CN/

    </textarea>

    <hr>
  
  </div>
  <div class="tab-pane fade  text-left" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" style="width: 300px; margin: 0 auto;">
     <div class="pills-dialog pills-sm pills-dialog-centered" >
        <div class="pills-content">
          <div class="pills-header">
            <h5 class="pills-title text-center">欢迎登录</h5>
          </div>
          <div class="pills-body">            
            <form class="form-login" method="post" action="/exam/">
              {% csrf_token %}
              <div class="form-group">
                <label for="ts-id" class="pills-label col-form-label">职工号</label>
                <input type="text" class="form-control" id="ts-id" name="id">
              </div>
              <div class="form-group">
                <label for="ts-passpord" class="col-form-label">密码</label>
                <input type="text" class="form-control" id="ts-passpord" name='password'>
              </div>
              <div class="text-justified">
                <a href="/exam/register/" class="text-success " ><ins>新用户注册</ins></a>
                <button type="submit" class="btn btn-primary">确定</button>           
              </div>
            </form>
            <div class="pills-footer">
              {% if message %}
              <div class="alert alert-warning" role="alert" style="margin: 20px;">{{ message }}</div>
              {% endif %}        
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="tab-pane fade text-left" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"  style="width: 300px; margin: 0 auto;">
    
      {% comment %} <div class="pills-dialog pills-sm pills-dialog-centered" > {% endcomment %}
        <div class="pills-content">
          <div class="pills-header">
            <h5 class="pills-title text-center">欢迎登录</h5>
          </div>
          <div class="pills-body">            
            <form class="form-login" method="post" action="/exam/loginStudent/">
              {% csrf_token %}
              <div class="form-group">
                <label for="ts-id" class="pills-label col-form-label">学号</label>
                <input type="text" class="form-control" id="ts-id" name="id">
              </div>
              <div class="form-group">
                <label for="ts-passpord" class="col-form-label">密码</label>
                <input type="text" class="form-control" id="ts-passpord" name='password'>
              </div>
              <div class="text-justified">
                <a href="/exam/register/" class="text-success " ><ins>新用户注册</ins></a>
                <button type="submit" class="btn btn-primary">确定</button>           
              </div>
            </form>
            <div class="pills-footer">
              {% if message %}
              <div class="alert alert-warning" role="alert" style="margin: 20px;">{{ message }}</div>
              {% endif %}        
            </div>     
          </div>
        </div>      
  </div>
</div>
{% endblock %}

{% comment %} 
{% block script %}
<script type="text/javascript">
  $('a[data-toggle="pill"]').on('show.bs.tab', function (e) {
    var tab = $(event.relatedTarget) 
    var ts = tab.data('ts')     
    var sn = tab.data('sn')
    var pill = $(this)
    pill.find('.pills-title').text(ts)
    pill.find('.pills-label').text(sn)
  })
</script> 
{% endblock %}
{% endcomment %}


